@model IEnumerable<eWellmanShoppingApp.Models.CodeFirst.Item>

@{
	ViewBag.Title = "Store";
}	
<head>
	<meta charset="utf-8" />
	
</head>
<body>
	@foreach(var item in Model) {
	<div class="col-sm-3 vCenter itemHack">
		<h3>@item.name</h3>
		<a href="@Url.Action("Details", "Items", new { id=item.id })"><img class="img-responsive" src="@item.mediaURL" /></a>
		<h5>$@item.price</h5>
		@using (Html.BeginForm("Create", "CartItems", new { idIn = item.id }, FormMethod.Post)){
		@Html.AntiForgeryToken()
		<input type="submit" class="btn btn-danger butOutline" value="Purchase"/>
		}
	</div>
	}
	<!--Modal frame-->
	<div id="itemModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content modalFix">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body modalFix">
					@Html.Partial("DetailsPartial", new eWellmanShoppingApp.Models.CodeFirst.Item())
				</div>
			</div>
		</div>
	</div>
	<!--Container for the inventory/-->
</body>

