@model IEnumerable<eWellmanShoppingApp.Models.CodeFirst.Item>

@{
	ViewBag.Title = "Add Items";
}

<h2>Items Database</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.creationDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.updatedDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.price)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.desc)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.mediaURL)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.creationDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.updatedDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.price)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.desc)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.mediaURL)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
				@Html.ActionLink("Details", "Details", new { id = item.id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.id }) |
				@Html.ActionLink("Back to Customer View", "Index")
			</td>
		</tr>
	}
</table>
