@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
	{
	@Html.AntiForgeryToken()

		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="@Url.Action("Index","CartItems")" class="valign-wrapper">@if (ViewBag.itemsInCart.Count > 0) { @ViewBag.itemsInCart.Count}<i style="display:inline" class="material-icons">shopping_cart</i></a></li>
			<li><a href="@Url.Action("Index","Manage")" title="Manage">Hello, @ViewBag.firstName!</a>
				@*@Html.ActionLink("Hello " + ViewBag.firstName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
			</li>
			<li style="margin-right:10px"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
		</ul>
	}
}
else {
	<ul class="right hide-on-med-and-down">
		<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
		<li style="margin-right:10px">@Html.ActionLink("Log in", "Login", "Account", routeValues: Request.Url.GetLeftPart(UriPartial.Path), htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}
